@font-face {
  font-family: 'Gubbi';
  src: url('../Gubbi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.kannda_texth,
.kannda_textm {
  font-family: 'Gubbi', Arial, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.english_texth,.english_textm{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.p_tag{
  all: unsets;
}


.result_page_container{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
     background-color:#f0f0f0;
    
   
}

.header{
    padding: 0px;
    margin: 0px;
    width: 74.22%;
    height: 17.6%;
}
.header_img{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    object-fit:contain;
}
.result{
    padding: 0px;
    margin: 0px;
    width: 74.22%;
    height: 68.6%;
    background-color: #f0f0f0;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;

}
.row2{
    margin-top: 10px;
    width: 98%;
    height: 18.6%;
    background-color:#f3bb9e;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}
.row2>.text_container>.kannda_texth{
    font-size: 28px;
    font-weight:100;
    padding: 0px;
    margin: 0px;
}
.row2>.text_container>.english_texth{
    font-size: 20px;
    /* font-weight: 100; */
}

.row3{
    width: 100%;
    height: 67.2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details_container{
    width: 50.5%;
    height: 88.6%;
    
    border: 1px solid #bce8f1;
    border-radius:5px;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

.result_details{
    width: 100%;
    height: 23.5%;
    background-color: #a4e5b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:5px 5px 0px 0px;
    
}
.result_details>.kannda_textm{
    font-size: 20px;
    font-weight: 600;
}
.result_details>.english_textm{
    font-size: 15px;
    font-weight: 575;
}
.input_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 50.7%;
    
}
.usn_input{
    all: unset;
    text-decoration: none;
    width: 95%;
    height: 100%;
    /* background-color:#bce8f1; */

    display: flex;
    justify-content: center;
    align-items: center;

}
.usn{
    width: 98%;
    /* height: 4%; */
}
.cache_input{
    display: flex;

    width: 100%;
    height: 100%;
}
.captache_div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.captache_holder{
    display: block;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}
.captache{
    width: 60%;
    height: auto;
    object-fit: contain;
}

.code{
    width: 87.2%;
}
.input{
    height: 27px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.code::placeholder{
    font-size:14px ;
}

.refresh{
    all: unset;
    cursor: pointer;
    width: 20%;
    display: flex;
    padding-top: 10%;
    align-items: center;
    justify-content: center;

    /* object-fit: contain; */
}
.retry{
    /* height: 40px; */
    width: 23px;
    object-fit: contain;
}
.button_container{
    
    display: block;
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 5% 0px; 
}
.proceed{
    all: unset;
    width: 42%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
}

.submit{
    background-color: #a6d8a6;
    border: 1px solid #398439;
}
.cancel{
    background-color: #f29391;
    border: 1px solid #ff0000;
}

.row4{
    width: 100%;
    height: 13%;
    background-color: #494e54;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.row4>.kannda_textm{
     font-size: 17px;
}
.row4>.english_textm{
     font-size: 14px;
}

